.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.error {
  margin: 35px 0;
  color: #ff0d0d;
  font-weight: bold;
}
.butt {
  border: none;
  border-radius: 12px;
  padding: 15px 32px;
  width: 110px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  background-color: aqua;
  font-family: Saira Extra Condensed, sans-serif;
  font-weight: 700;
}
.but:disabled {
  color: black;
  background-color: rgb(44, 161, 162);
}
.butt:active {
  border: none;
  border-radius: 12px;
  padding: 15px 32px;
  width: 110px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  background-color: #2ca2a2;
  font-family: Saira Extra Condensed, sans-serif;
  font-weight: 700;
}
.displayDefault {
  margin: 35px 0;
  font-size: 4rem;
}

.displayMax {
  margin: 35px 0;
  font-size: 4rem;
  color: red;
}
.spanDefault {
  font-weight: bold;
}
.spanError {
  font-weight: bold;
  color: #ff0d0d;
}
.inputSet {
  background-color: beige;
  border: #282c34 solid 3px;
  border-radius: 6px;
  height: 25px;
  margin: 8px;
  text-align: center;
}
.inputSetError {
  border: #ff0d0d solid 3px;
  background-color: rgba(248, 0, 0, 0.77);
  box-shadow: 0 0 8px 0 rgba(248, 0, 0, 0.9);
  color: white;
  border-radius: 6px;
  height: 25px;
  margin: 8px;
  text-align: center;
}
.display {
  border: aqua solid 3px;
  border-radius: 8px;
  height: 160px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 1%;
  background-color: aqua;
  color: #282c34;
}

.wrapper {
  width: 400px;
  height: 400px;
  border: aqua solid 3px;
  border-radius: 16px;
  padding: 8px;
  background-color: #282c34;
  position: relative;
  margin-right: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.89);
}
.buttContainer {
  height: 210px;
  width: 390px;
  border: aqua solid 3px;
  border-radius: 16px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  bottom: 8px;
}
.v1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
